$white: #fff;
$black: #000;
$accent-color: #ca2a59;
$accent-color-dark: #a72c50;
$blue: #282a3c;
$light-blue: #2d364c;
$dark-blue: #0c101b;
$dark-blue-transparent: rgba($dark-blue, 0.7);
$border-color: rgba(255, 255, 255, 0.1);
$top-bg-color: rgba(12, 16, 27, 0.2);
$main-bg-color: #1A1D2C;
$large-width: 75%;
$small-width: 95%;
$shadow: 0 3px 3px rgba($black, 0.2);
