$white: #fff;
$black: #000;
$accent-color: #ca2a59;
$accent-color-dark: #a72c50;
$blue: #282a3c;
$light-blue: #2d364c;
$dark-blue: #0c101b;
$dark-blue-transparent: rgba($dark-blue, 0.7);
$border-color: rgba(255, 255, 255, 0.1);
$top-bg-color: rgba(12, 16, 27, 0.2);
$main-bg-color: #1A1D2C;
$large-width: 75%;
$small-width: 95%;
$shadow: 0 20px 40px rgba($black, 0.1);
$shadow-highlight: 0 20px 50px rgba($black, 0.4);

@mixin comma-separated($font-size, $font-weight) {
  color: rgba($white, 0.7);
  font-size: $font-size;
  font-weight: $font-weight;
  position: relative;
  padding-right: 5px;
  margin-right: 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:after {
    content: ",";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &:last-child {
    padding-right: 0;
    &:after {
      content: "";
    }
  }
}
